language: node_js
node_js:
  - "4.4.4"
env:
  - TEST_DIR=restaurant-type-consumer
before_install:
  sudo apt-add-repository ppa:brightbox/ruby-ng &&
  sudo apt-get update &&
  sudo apt-get install ruby2.2 &&
  gem install bundler
install:
  cd $TEST_DIR &&
  npm run travis_install
script: npm test
