language: node_js
node_js:
  - "4.4.4"
env:
  - TEST_DIR=restaurant-type-consumer
before_install:
  \curl -L https://get.rvm.io | bash -s stable &&
  rvm install ruby-2.2 &&
  rvm list &&
  rvm use --default ruby-2.2 &&
  gem install bundler
install:
  cd $TEST_DIR &&
  npm run travis_install
script: npm test
